- name: Configure EC2 host and deploy app
  hosts: app
  become: true

  vars:
   app_dir: /opt/devops-roadmap

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install base packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Add Docker GPG key
      shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        chmod a+r /etc/apt/keyrings/docker.gpg
      args:
        creates: /etc/apt/keyrings/docker.gpg

    - name: Add Docker repo
      shell: |
        echo \
        "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
        $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
      args:
        creates: /etc/apt/sources.list.d/docker.list

    - name: Update apt cache after adding docker repo
      apt:
        update_cache: yes

    - name: Install Docker Engine + Compose again
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present

    - name: Ensure Docker is started and enabled
      service:
        name: docker
        state: started
        enabled: true

    - name: Create app directory
      file:
        path: "{{ app_dir }}"
        state: directory
        mode: "0755"

    - name: Copy app directory
      copy:
        src: "{{ playbook_dir }}/../../app"
        dest: "{{ app_dir }}/"
        mode: "0755"

    - name: Copy docker folder
      copy:
        src: "{{ playbook_dir }}/../../docker"
        dest: "{{ app_dir }}"
        mode: "0755"

    - name: Run Docker compose up
      shell: |
        cd {{ app_dir }}
        docker compose -f docker/compose.yml up -d --build 

    - name: Install Nginx
      apt:
        name: nginx
        state: present

    - name: Create Nginx reverse proxy config
      copy:
        dest: /etc/nginx/sites-available/devops-roadmap
        content: |
          server {
              listen 80;
              server_name _;

              location / {
                  proxy_pass http://127.0.0.1:8000;
                  proxy_http_version 1.1;
                  proxy_set_header Host $host;
                  proxy_set_header X-Real-IP $remote_addr;
                  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                  proxy_set_header X-Forwarded-Proto $scheme;
              }
          }

    - name: Enable devops-roadmap site
      file:
        src: /etc/nginx/sites-available/devops-roadmap
        dest: /etc/nginx/sites-enabled/devops-roadmap
        state: link
        force: yes

    - name: Disable default Nginx site
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent

    - name: Test Nginx configuration
      command: nginx -t

    - name: Restart and enable Nginx
      service:
        name: nginx
        state: restarted
        enabled: true
